<!DOCTYPE html>
<html>
<head>
    <title>Pokemon</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="shortcut icon" href="poke_logo.png" type="image/png">
</head>


</body>
</html>

<div class="navbar">
  <a href="home_page.html">Home</a>
  <a href="track_pokemons_trainers.html">Track Pokemons & Trainers</a>
  <!-- <a href="evolve_pokemons.html">Evolve Pokemons</a> -->
  <a href="webcamjs/demos/poke_selfie.html">PokeSelfie</a>
  <div class="dropdown">
    <button class="dropbtn">More
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="https://en.wikipedia.org/wiki/Pok%C3%A9mon">wikipedia</a>
      <a href="https://bulbapedia.bulbagarden.net/wiki/Main_Page">bulbapedia</a>
      <a href="https://www.amazon.com/Pokemon-First-Three-Movies-Various/dp/B07GRJM13B">movies</a>
      <a href="https://www.nintendo.com/games/pokemon-games/">games</a>
      <a href="https://www.amazon.com/stores/page/DC6D208A-8D81-4AFA-90C5-616473E94ECA">buy</a>

    </div>
  </div>
</div>
    
    <div class="bg"></div>
    
</head>
<body>